## Master DataFrame Assignment – Retail Sales Superstore Dataset (All-In-One)

In [10]:
from google.colab import drive
drive.mount('/content/mydrive')

Drive already mounted at /content/mydrive; to attempt to forcibly remount, call drive.mount("/content/mydrive", force_remount=True).

TASKS ACROSS Pandas, PySpark, and Dask

PART 1: Pandas DataFrame Operations
1. Load the CSV using pandas .
2. Print schema, head, shape, dtypes.
3. Select Customer , Product , Profit columns.
4. Filter orders where Profit > 2000 and Discount = 0 .
5. Sort by Profit descending.
6. GroupBy Category → Total Profit, Avg Discount.
7. Add a column TotalPrice = Quantity * UnitPrice .
8. Drop the SubCategory column.
9. Fill nulls in Discount with 0.10.
10. Apply a function to categorize orders:

In [11]:
# 1
import pandas as pd
path = '/content/mydrive/MyDrive/Hexware_Training_DataEngineering/superstore.csv'

# 2
df = pd.read_csv(path)
print("Schema info: \n", df.info())
print("\n Head: \n", df.head())
print("\n Shape: \n", df.shape)
print("\n Data types: \n", df.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderID      6 non-null      object
 1   OrderDate    6 non-null      object
 2   Customer     5 non-null      object
 3   Segment      5 non-null      object
 4   Region       5 non-null      object
 5   Product      5 non-null      object
 6   Category     5 non-null      object
 7   SubCategory  5 non-null      object
 8   Quantity     5 non-null      float64
 9   UnitPrice    5 non-null      float64
 10   Discount    5 non-null      float64
 11   Profit      4 non-null      float64
dtypes: float64(4), object(8)
memory usage: 708.0+ bytes
Schema info:
 None

 Head:
    OrderID   OrderDate   Customer      Segment   Region     Product  \
0  CA-1001  2023-01-15       Ravi     Consumer    South      Laptop
1  CA-1002    2023-02-        NaN          NaN      NaN         NaN
2       20       Priya  Corporate        North  Printer  Technology
3  CA-1003  2023-01-25       Amit     Consumer     East    Notebook
4  CA-1004  2023-03-01      Anita  Home Office     West       Table

          Category SubCategory  Quantity  UnitPrice   Discount   Profit
0       Technology   Computers       1.0   55000.00       0.10   5000.0
1              NaN         NaN       NaN        NaN        NaN      NaN
2      Peripherals           2   12000.0       0.15    1800.00      NaN
3  Office Supplies       Paper       3.0     200.00       0.05    150.0
4        Furniture      Tables       1.0   18000.00       0.20  -1500.0

 Shape:
 (6, 12)

 Data types:
 OrderID         object
OrderDate       object
Customer        object
Segment         object
Region          object
Product         object
Category        object
SubCategory     object
Quantity       float64
UnitPrice      float64
 Discount      float64
 Profit        float64
dtype: object

In [12]:
print(df)

   OrderID   OrderDate   Customer      Segment   Region     Product  \
0  CA-1001  2023-01-15       Ravi     Consumer    South      Laptop
1  CA-1002    2023-02-        NaN          NaN      NaN         NaN
2       20       Priya  Corporate        North  Printer  Technology
3  CA-1003  2023-01-25       Amit     Consumer     East    Notebook
4  CA-1004  2023-03-01      Anita  Home Office     West       Table
5  CA-1005  2023-02-05      Divya     Consumer    South       Phone

          Category SubCategory  Quantity  UnitPrice   Discount   Profit
0       Technology   Computers       1.0   55000.00       0.10   5000.0
1              NaN         NaN       NaN        NaN        NaN      NaN
2      Peripherals           2   12000.0       0.15    1800.00      NaN
3  Office Supplies       Paper       3.0     200.00       0.05    150.0
4        Furniture      Tables       1.0   18000.00       0.20  -1500.0
5       Technology      Phones       2.0   20000.00       0.00   3000.0

In [17]:
# 3
df.columns = df.columns.str.strip()
print(df[['Customer', 'Product', 'Profit']])

    Customer     Product  Profit
0       Ravi      Laptop  5000.0
1        NaN         NaN     NaN
2  Corporate  Technology     NaN
3       Amit    Notebook   150.0
4      Anita       Table -1500.0
5      Divya       Phone  3000.0

In [19]:
# 4
filterd_df = df[(df.Discount == 0) & (df.Profit > 2000)]
print(filterd_df)

   OrderID   OrderDate Customer   Segment Region Product    Category  \
5  CA-1005  2023-02-05    Divya  Consumer  South   Phone  Technology

  SubCategory  Quantity  UnitPrice  Discount  Profit
5      Phones       2.0    20000.0       0.0  3000.0

In [20]:
# 5
sorted_df =  df.sort_values(by='Profit', ascending=False)
print(sorted_df)

   OrderID   OrderDate   Customer      Segment   Region     Product  \
0  CA-1001  2023-01-15       Ravi     Consumer    South      Laptop
5  CA-1005  2023-02-05      Divya     Consumer    South       Phone
3  CA-1003  2023-01-25       Amit     Consumer     East    Notebook
4  CA-1004  2023-03-01      Anita  Home Office     West       Table
1  CA-1002    2023-02-        NaN          NaN      NaN         NaN
2       20       Priya  Corporate        North  Printer  Technology

          Category SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology   Computers       1.0   55000.00      0.10  5000.0
5       Technology      Phones       2.0   20000.00      0.00  3000.0
3  Office Supplies       Paper       3.0     200.00      0.05   150.0
4        Furniture      Tables       1.0   18000.00      0.20 -1500.0
1              NaN         NaN       NaN        NaN       NaN     NaN
2      Peripherals           2   12000.0       0.15   1800.00     NaN

In [21]:
# 6
grouped_df = df.groupby('Category').agg({'Profit': 'sum', 'Discount':'mean'})
print(grouped_df)

                 Profit  Discount
Category
Furniture       -1500.0      0.20
Office Supplies   150.0      0.05
Peripherals         0.0   1800.00
Technology       8000.0      0.05

In [29]:
#  7
df['TotalPrice'] = df['Quantity']*df['UnitPrice']
print(df)

   OrderID   OrderDate   Customer      Segment   Region     Product  \
0  CA-1001  2023-01-15       Ravi     Consumer    South      Laptop
1  CA-1002    2023-02-        NaN          NaN      NaN         NaN
2       20       Priya  Corporate        North  Printer  Technology
3  CA-1003  2023-01-25       Amit     Consumer     East    Notebook
4  CA-1004  2023-03-01      Anita  Home Office     West       Table
5  CA-1005  2023-02-05      Divya     Consumer    South       Phone

          Category  Quantity  UnitPrice  Discount  Profit  TotalPrice
0       Technology       1.0   55000.00      0.10  5000.0     55000.0
1              NaN       NaN        NaN       NaN     NaN         NaN
2      Peripherals   12000.0       0.15   1800.00     NaN      1800.0
3  Office Supplies       3.0     200.00      0.05   150.0       600.0
4        Furniture       1.0   18000.00      0.20 -1500.0     18000.0
5       Technology       2.0   20000.00      0.00  3000.0     40000.0

In [ ]:
#  8
df = df.drop(columns=['SubCategory'])

In [32]:
#  9
df['Discount'] = df['Discount'].fillna(0.10)

In [33]:
# 10
def classify(row):
    if row['Profit'] > 4000:
        return 'High'
    elif row['Profit'] > 0:
        return 'Medium'
    else:
        return 'Low'

df['ProfitLevel'] = df.apply(classify, axis=1)
print(df)

   OrderID   OrderDate   Customer      Segment   Region     Product  \
0  CA-1001  2023-01-15       Ravi     Consumer    South      Laptop
1  CA-1002    2023-02-        NaN          NaN      NaN         NaN
2       20       Priya  Corporate        North  Printer  Technology
3  CA-1003  2023-01-25       Amit     Consumer     East    Notebook
4  CA-1004  2023-03-01      Anita  Home Office     West       Table
5  CA-1005  2023-02-05      Divya     Consumer    South       Phone

          Category  Quantity  UnitPrice  Discount  Profit  TotalPrice  \
0       Technology       1.0   55000.00      0.10  5000.0     55000.0
1              NaN       NaN        NaN      0.10     NaN         NaN
2      Peripherals   12000.0       0.15   1800.00     NaN      1800.0
3  Office Supplies       3.0     200.00      0.05   150.0       600.0
4        Furniture       1.0   18000.00      0.20 -1500.0     18000.0
5       Technology       2.0   20000.00      0.00  3000.0     40000.0

  ProfitLevel
0        High
1         Low
2         Low
3      Medium
4         Low
5      Medium

PART 2: PySpark DataFrame Operations
1. Load the same CSV using PySpark.
2. Show schema and first 5 rows.
3. Select columns, Rename Customer → Client .
4. Filter Segment = 'Consumer' and Profit < 1000 .
5. GroupBy Region and show average profit.
6. Use withColumn to create TotalPrice = Quantity * UnitPrice .
7. Use when().otherwise() to classify Profit as:

* 'Profit' > 2000 → 'High'
* 'Profit' <= 0 → 'Loss'
else 'Medium'
8. Use drop() to remove SubCategory .
9. Handle nulls in Discount using fillna(0.10) .
10. Convert OrderDate to date type and extract year , month

In [34]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
        .appName("RetailSalesAnalysis") \
        .getOrCreate()

spark

In [42]:
# 1
df = spark.read.csv(path, header=True, inferSchema=True)

# 2
df.printSchema()
df.show(5)

root
 |-- OrderID: string (nullable = true)
 |-- OrderDate: string (nullable = true)
 |-- Customer: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- SubCategory: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |--  Discount: double (nullable = true)
 |--  Profit: integer (nullable = true)

+-------+----------+---------+-----------+-------+----------+---------------+-----------+--------+---------+---------+-------+
|OrderID| OrderDate| Customer|    Segment| Region|   Product|       Category|SubCategory|Quantity|UnitPrice| Discount| Profit|
+-------+----------+---------+-----------+-------+----------+---------------+-----------+--------+---------+---------+-------+
|CA-1001|2023-01-15|     Ravi|   Consumer|  South|    Laptop|     Technology|  Computers|       1|  55000.0|      0.1|   5000|
|CA-1002|  2023-02-|     NULL|       NULL|   NULL|      NULL|           NULL|       NULL|    NULL|     NULL|     NULL|   NULL|
|     20|     Priya|Corporate|      North|Printer|Technology|    Peripherals|          2|   12000|     0.15|   1800.0|   NULL|
|CA-1003|2023-01-25|     Amit|   Consumer|   East|  Notebook|Office Supplies|      Paper|       3|    200.0|     0.05|    150|
|CA-1004|2023-03-01|    Anita|Home Office|   West|     Table|      Furniture|     Tables|       1|  18000.0|      0.2|  -1500|
+-------+----------+---------+-----------+-------+----------+---------------+-----------+--------+---------+---------+-------+
only showing top 5 rows

In [43]:
# 3
from pyspark.sql.functions import *
df.select(col('Customer').alias('Client')).show()

+---------+
|   Client|
+---------+
|     Ravi|
|     NULL|
|Corporate|
|     Amit|
|    Anita|
|    Divya|
+---------+

In [45]:
# 4
df.filter((col('Segment') == 'Consumer') & (col(' Profit') < 1000)).show()

+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+---------+-------+
|OrderID| OrderDate|Customer| Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice| Discount| Profit|
+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+---------+-------+
|CA-1003|2023-01-25|    Amit|Consumer|  East|Notebook|Office Supplies|      Paper|       3|    200.0|     0.05|    150|
+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+---------+-------+

In [47]:
#  5
df.groupBy('Region').agg(avg(' Profit').alias('AverageProfit')).show()

+-------+-------------+
| Region|AverageProfit|
+-------+-------------+
|   NULL|         NULL|
|  South|       4000.0|
|   East|        150.0|
|   West|      -1500.0|
|Printer|         NULL|
+-------+-------------+

In [48]:
#  6
df = df.withColumn('TotalPrice', col('Quantity')*col('UnitPrice'))
df.show()

+-------+----------+---------+-----------+-------+----------+---------------+-----------+--------+---------+---------+-------+----------+
|OrderID| OrderDate| Customer|    Segment| Region|   Product|       Category|SubCategory|Quantity|UnitPrice| Discount| Profit|TotalPrice|
+-------+----------+---------+-----------+-------+----------+---------------+-----------+--------+---------+---------+-------+----------+
|CA-1001|2023-01-15|     Ravi|   Consumer|  South|    Laptop|     Technology|  Computers|       1|  55000.0|      0.1|   5000|   55000.0|
|CA-1002|  2023-02-|     NULL|       NULL|   NULL|      NULL|           NULL|       NULL|    NULL|     NULL|     NULL|   NULL|      NULL|
|     20|     Priya|Corporate|      North|Printer|Technology|    Peripherals|          2|   12000|     0.15|   1800.0|   NULL|    1800.0|
|CA-1003|2023-01-25|     Amit|   Consumer|   East|  Notebook|Office Supplies|      Paper|       3|    200.0|     0.05|    150|     600.0|
|CA-1004|2023-03-01|    Anita|Home Office|   West|     Table|      Furniture|     Tables|       1|  18000.0|      0.2|  -1500|   18000.0|
|CA-1005|2023-02-05|    Divya|   Consumer|  South|     Phone|     Technology|     Phones|       2|  20000.0|      0.0|   3000|   40000.0|
+-------+----------+---------+-----------+-------+----------+---------------+-----------+--------+---------+---------+-------+----------+

In [51]:
#  7
df = df.withColumn('ProfitLevel', when(col(' Profit') > 2000, "High").when(col(' Profit') <= 0, "Loss").otherwise("Medium"))
df.show()

+-------+----------+---------+-----------+-------+----------+---------------+-----------+--------+---------+---------+-------+----------+-----------+
|OrderID| OrderDate| Customer|    Segment| Region|   Product|       Category|SubCategory|Quantity|UnitPrice| Discount| Profit|TotalPrice|ProfitLevel|
+-------+----------+---------+-----------+-------+----------+---------------+-----------+--------+---------+---------+-------+----------+-----------+
|CA-1001|2023-01-15|     Ravi|   Consumer|  South|    Laptop|     Technology|  Computers|       1|  55000.0|      0.1|   5000|   55000.0|       High|
|CA-1002|  2023-02-|     NULL|       NULL|   NULL|      NULL|           NULL|       NULL|    NULL|     NULL|     NULL|   NULL|      NULL|     Medium|
|     20|     Priya|Corporate|      North|Printer|Technology|    Peripherals|          2|   12000|     0.15|   1800.0|   NULL|    1800.0|     Medium|
|CA-1003|2023-01-25|     Amit|   Consumer|   East|  Notebook|Office Supplies|      Paper|       3|    200.0|     0.05|    150|     600.0|     Medium|
|CA-1004|2023-03-01|    Anita|Home Office|   West|     Table|      Furniture|     Tables|       1|  18000.0|      0.2|  -1500|   18000.0|       Loss|
|CA-1005|2023-02-05|    Divya|   Consumer|  South|     Phone|     Technology|     Phones|       2|  20000.0|      0.0|   3000|   40000.0|       High|
+-------+----------+---------+-----------+-------+----------+---------------+-----------+--------+---------+---------+-------+----------+-----------+

In [52]:
#  8
df = df.drop("SubCategory")
df.show()

+-------+----------+---------+-----------+-------+----------+---------------+--------+---------+---------+-------+----------+-----------+
|OrderID| OrderDate| Customer|    Segment| Region|   Product|       Category|Quantity|UnitPrice| Discount| Profit|TotalPrice|ProfitLevel|
+-------+----------+---------+-----------+-------+----------+---------------+--------+---------+---------+-------+----------+-----------+
|CA-1001|2023-01-15|     Ravi|   Consumer|  South|    Laptop|     Technology|       1|  55000.0|      0.1|   5000|   55000.0|       High|
|CA-1002|  2023-02-|     NULL|       NULL|   NULL|      NULL|           NULL|    NULL|     NULL|     NULL|   NULL|      NULL|     Medium|
|     20|     Priya|Corporate|      North|Printer|Technology|    Peripherals|   12000|     0.15|   1800.0|   NULL|    1800.0|     Medium|
|CA-1003|2023-01-25|     Amit|   Consumer|   East|  Notebook|Office Supplies|       3|    200.0|     0.05|    150|     600.0|     Medium|
|CA-1004|2023-03-01|    Anita|Home Office|   West|     Table|      Furniture|       1|  18000.0|      0.2|  -1500|   18000.0|       Loss|
|CA-1005|2023-02-05|    Divya|   Consumer|  South|     Phone|     Technology|       2|  20000.0|      0.0|   3000|   40000.0|       High|
+-------+----------+---------+-----------+-------+----------+---------------+--------+---------+---------+-------+----------+-----------+

In [54]:
#  9
df = df.fillna({' Discount': 0.10})
df.show()

+-------+----------+---------+-----------+-------+----------+---------------+--------+---------+---------+-------+----------+-----------+
|OrderID| OrderDate| Customer|    Segment| Region|   Product|       Category|Quantity|UnitPrice| Discount| Profit|TotalPrice|ProfitLevel|
+-------+----------+---------+-----------+-------+----------+---------------+--------+---------+---------+-------+----------+-----------+
|CA-1001|2023-01-15|     Ravi|   Consumer|  South|    Laptop|     Technology|       1|  55000.0|      0.1|   5000|   55000.0|       High|
|CA-1002|  2023-02-|     NULL|       NULL|   NULL|      NULL|           NULL|    NULL|     NULL|      0.1|   NULL|      NULL|     Medium|
|     20|     Priya|Corporate|      North|Printer|Technology|    Peripherals|   12000|     0.15|   1800.0|   NULL|    1800.0|     Medium|
|CA-1003|2023-01-25|     Amit|   Consumer|   East|  Notebook|Office Supplies|       3|    200.0|     0.05|    150|     600.0|     Medium|
|CA-1004|2023-03-01|    Anita|Home Office|   West|     Table|      Furniture|       1|  18000.0|      0.2|  -1500|   18000.0|       Loss|
|CA-1005|2023-02-05|    Divya|   Consumer|  South|     Phone|     Technology|       2|  20000.0|      0.0|   3000|   40000.0|       High|
+-------+----------+---------+-----------+-------+----------+---------------+--------+---------+---------+-------+----------+-----------+

In [55]:
#  10
df = df.withColumn("OrderDate", to_date(col("OrderDate")))
df = df.withColumn("Year", year("OrderDate")).withColumn("Month", month("OrderDate"))
df.select("OrderID", "OrderDate", "Year", "Month").show()

+-------+----------+----+-----+
|OrderID| OrderDate|Year|Month|
+-------+----------+----+-----+
|CA-1001|2023-01-15|2023|    1|
|CA-1002|      NULL|NULL| NULL|
|     20|      NULL|NULL| NULL|
|CA-1003|2023-01-25|2023|    1|
|CA-1004|2023-03-01|2023|    3|
|CA-1005|2023-02-05|2023|    2|
+-------+----------+----+-----+

PART 3: Dask DataFrame Operations (Pandas Alternative)
1. Install Dask:
!pip install dask
2. Load the same superstore.csv :
import dask.dataframe as dd
df = dd.read_csv('superstore.csv')
3. Do the following:
* Compute average discount by category.
* Filter orders with more than 1 quantity and high profit.
* Save filtered data to new CSV.

In [60]:
import dask.dataframe as dd

df = dd.read_csv(path)
# 3.a
avg_discount = df.groupby('Category')[' Discount'].mean().compute()
print(avg_discount)

# 3.b
filtered_df = df[(df['Quantity'] > 1) & (df[' Profit'] > 2000)]
print(filtered_df)

# 3.c
filtered_df.to_csv('filtered_data.csv', index=False)
print("File saved successfully")

Category
Furniture             0.20
Office Supplies       0.05
Peripherals        1800.00
Technology            0.05
<NA>                   NaN
Name:  Discount, dtype: float64
Dask DataFrame Structure:
              OrderID OrderDate Customer Segment  Region Product Category SubCategory Quantity UnitPrice  Discount   Profit
npartitions=1
               string    string   string  string  string  string   string      string  float64   float64   float64  float64
                  ...       ...      ...     ...     ...     ...      ...         ...      ...       ...       ...      ...
Dask Name: getitem, 8 expressions
Expr=Filter(frame=ArrowStringConversion(frame=FromMapProjectable(7b28fd1)), predicate=ArrowStringConversion(frame=FromMapProjectable(7b28fd1))['Quantity'] > 1 & ArrowStringConversion(frame=FromMapProjectable(7b28fd1))[' Profit'] > 2000)
File saved successfully

PART 4: JSON Handling (Complex Nested)
1. Create a nested JSON file:

[
{
"OrderID": "CA-1001",
"Customer": {"Name": "Ravi", "Segment": "Consumer"},
"Details": {"Region": "South", "Profit": 5000}
},
{
"OrderID": "CA-1002",
"Customer": {"Name": "Priya", "Segment": "Corporate"},
"Details": {"Region": "North", "Profit": 1800}
}
]

2. Load it using PySpark:
* df_json = spark.read.json('orders.json', multiLine=True)
* df_json.printSchema()
* df_json.select("OrderID", "Customer.Name", "Details.Profit").show()

In [61]:
path = '/content/mydrive/MyDrive/Hexware_Training_DataEngineering/orders.json'

# 4.a
df_for_json = spark.read.json(path, multiLine=True)

# 4.b
df_for_json.printSchema()

# 4.c
df_for_json.select("OrderID", "Customer.Name", "Details.Profit").show()

root
 |-- Customer: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Segment: string (nullable = true)
 |-- Details: struct (nullable = true)
 |    |-- Profit: long (nullable = true)
 |    |-- Region: string (nullable = true)
 |-- OrderID: string (nullable = true)

+-------+-----+------+
|OrderID| Name|Profit|
+-------+-----+------+
|CA-1001| Ravi|  5000|
|CA-1002|Priya|  1800|
+-------+-----+------+